/* Body CSS */
body{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
}

.container{
    margin: 25px auto 40px;
}

.contentDiv{
    width:90%;
}


/* Bio Details */
.titleDiv{
    display: flex;
    padding: 20px 0 20px;
}

.circle{
    border-radius: 100%;
}

.bioDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.bioDiv p{
    line-height: 35%; 
}

.topName{
    margin-top: 10px;
}

.profile{
    margin-right: 13px;
}


/* White Background CSS */
.whiteBgName{
    color:hsl(217, 19%, 35%);
    font-weight: bold;
}

.whiteBgGraduate{
    color:hsla(217, 19%, 35%, 0.5);
}

.whiteBgP{
    color:hsla(217, 19%, 35%, 0.7);
    padding-top: 10px;
    line-height: 150%;
}

.whiteBgHeading{
    color:hsl(224,8%,33%);
    font-weight: 600;
    padding-top:3px;
}


/* Coloured Background CSS */
.darkP{
    color:hsla(0, 0%, 81%, 0.7);
    padding-top: 10px;
    line-height: 150%;
}

.darkGraduate{
    color:hsla(0, 0%, 81%, 0.5);
}

.darkHeading{
    color:white;
    line-height: 130%;
}

.darkName{
    color:white;
}


/* Container CSS */
.roundedCorners{
    border-radius: 14px;
}

.firstDivision{
    margin-bottom: 25px;
    margin-right: 22px;
}

.secondDivision{
    margin-right: 22px;
}

.spaceBetween{
    padding-right: 50px;
}


/* Daniel Clifford's Div */
.first{
    background-color: hsl(263, 55%, 52%); 
    z-index: 3;
    padding:0 25px 20px;
}

#daniel{
    border:3px solid rgb(145, 101, 212);
}

#imageDiv{
    position:absolute;
    right:30px;
    z-index: 1;
}

#quotes{
    width:90%;
}

/* Jonathan Walter's Div */
.second{
    background-color:hsl(217, 19%, 35%);
    padding:0 25px 20px;
}

/* Jaennette Harmon's Div */
.third{
    background-color: white;
    padding:0 28px 5px;
}

/* Patrick Abram's Div */
.fourth{
    background-color: hsl(219, 29%, 14%);
    padding:0 28px 5px;
}

#abram{
    border:2px solid hsl(263, 55%, 52%);
}

/* Kira Whittle's Div */
.fifth{
  background-color: white;
  padding:3px 25px 20px;
}

/* Footer */
#footer{
    text-align: center;
}

/* Media Queries  */
@media  (min-width:992px) {
    .second{
        position: relative;
        left:35px;
    }

    .fourth{
        position: relative;
        left:35px;
    }
}

@media  (max-width:992px) {
    .second{
        margin-top: 30px;
    }

    .fourth{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #quotes{
        width:70%;
        margin-top: 5px;
    }

    .fifth{
        width:90%;
    }

    body{
        overflow-x:hidden ;
    }
}

@media (max-width:600px) {
    .container{
    margin-left:43px;
    margin-right: 0;
    }

    body{
        overflow-x: hidden;
    }
}

@media (max-width:768px) {
    .fifth{
        width:88%;
    }
}

@media (max-width:576px) {
    .fifth{
        width:82%;
    }
}

@media (min-width:992px) and (max-width:1200px){
    #bioJonathan p{
        width:120px;
    }

    #bioJ p{
        width:120px;
    }
}